.b-news
  .headline
    Короче,
    %b новости

  .b-news__list
    .b-news__item
      .image
        = image_tag 'fakes/news1.jpg'
      .text
        8 мая — большой день. Сегодня свой 54-й день рождения празднует знаковый для России режиссёр и настоящий друг фестиваля #корочекино Валерий Тодоровский! Наш оргкомитет желает имениннику исполнения всех проектов, запредельных кассовых сборов и ещё больше муз! Ура!!!
      .share-block
        .date 8 мая в 16:15
        .icon

    .b-news__item
      .image
        = image_tag 'fakes/news2.jpg'
      .text По заявкам наших дорогих любителей «Короче» к прокату присоединились следующие площадки: – Ростов-на-Дону, к-тр Большой – с 7 мая; – Барнаул, к-тр «Родина» – с 17 мая. УРА!!!
      .share-block
        .date 8 мая в 16:15
        .icon

    .b-news__item
      .image
        = image_tag 'fakes/news1.jpg'
      .text
        Сюжет Вести.ру. Фестиваль «Короче» принимает лучшие короткометражки
      .share-block
        .date 8 мая в 16:15
        .icon

    .b-news__item
      .image
        = image_tag 'fakes/news3.jpg'
      .text
        Конкурс: Попади на фестиваль «КОРОЧЕ» в Калиниград КиноПоиск представляет конкурс, посвященный премьере «КОРОЧЕ» — альманаха лучших российских короткометражек одноименного фестиваля.
      .share-block
        .date 8 мая в 16:15
        .icon

    .b-news__item
      .image
        = image_tag 'fakes/news4.jpg'
      .text
        Актриса Мария Шалаева желает вам весёлой пятницы и отличных праздничных выходных! Не забудьте сходить в кино на #АльманахКороче уже в кинотеатрах страны! #корочекино #корочевкино #ужевкино #короткометражки
      .share-block
        .date 8 мая в 16:15
        .icon

    .b-news__item
      .image
        = image_tag 'fakes/news5.jpg'
      .text Короче, начинаем принимать заявки. Сегодня 1 апреля, день первый. 20 июля, день последний. Даты фестиваля 19-21 августа. Призовой фонд 1 миллион. Погода – лето и море. Сжимайте крутые идеи до 15 мин. Самые крутые - станут полным метром. Наш победитель «Короче-2013» Роман Артемьев это уже сделал. Помните «Спаситель»? Полный метр выходит 16/06/2016. А альманах «Короче» на 50 экранах страны с 28 апреля. Спешите, ждите, летите, снимайте.
      .share-block
        .date 8 мая в 16:15
        .icon

  .load-more.g-button.bordered.small Показать еще

