.b-partners
  .headline Партнеры


  .b-partners__list
    = image_tag 'b-partners/minkult.png'
    = image_tag 'b-partners/cinemapark.png'
    = image_tag 'b-partners/gazprom.png'
    = image_tag 'b-partners/prod.png'
    = image_tag 'b-partners/smart.png'

  .info-partners-title Информационные партнёры
  .b-partners__list.info-partners
    = image_tag 'b-partners/kinopoisk.png'
    = image_tag 'b-partners/tass.png'
    = image_tag 'b-partners/rus24.png'
    = image_tag 'b-partners/gazeta.png'


  = render 'shared/footer'



