.b-council-single
  .headline
    %b
      Попечительский
      %br
       совет

  .b-council-single__members
    .b-council-single__member
      .member-info
        .name Станислав  Воскресенский
        .role Председатель Попечительского совета
      .photo{ style: "background-image: url(#{asset_path('b-council/voskresenski.jpg')})"}
      .note « Фестиваль Короче — уникальный, потому что это фестиваль социального лифта, фестиваль куда приезжают большинство российских крупных продюсеров, и у ребят есть возможность показать себя »

    .b-council-single__member
      .member-info
        .name Сергей  Сельянов
        .role Кинопродюсер, режиссёр, сценарист. Руководитель кинокомпании «СТВ».
      .photo{ style: "background-image: url(#{asset_path('b-council/selyanov.jpg')})"}
      .note « Место – особое. Этот фестиваль придуман под продюсерским углом зрения. Это значит, что мы приглашаем и награждаем там режиссёров, нацеленных на создание зрительского кино »

    .b-council-single__member
      .member-info
        .name Игорь  Толстунов
        .role Создатель и глава студии «ПРОФИТ». Продюсер более 50 фильмов и сериалов.
      .photo{ style: "background-image: url(#{asset_path('b-council/tolstunov.jpg')})"}
      .note « Короткий метр — это абсолютная необходимость для молодого режиссера »

    .b-council-single__member
      .member-info
        .name Валерий Тодоровский
        .role Продюсер, сценарист и режиссёр.
      .photo{ style: "background-image: url(#{asset_path('b-council/todorovskiy.jpg')})"}
      .note « Мероприятие выдающееся! Это правильный фестиваль, в правильном городе, в правильное время, с правильными людьми во главе. Здесь всё сделано с душой, талантом и любовью. Это один из самых молодых и успешных фестивалей в России. Я такого не видел давно! »

    .b-council-single__member
      .member-info
        .name Сергей  Мелькумов
        .role Соучредитель продюсерской компании «СЛОВО». Основатель кинокомпании «Нон-стоп Продакшн». Продюсер нескольких десятков фильмов и сериалов.
      .photo{ style: "background-image: url(#{asset_path('b-council/melkumov.jpg')})"}
      .note « Место – особое. Этот фестиваль придуман под продюсерским углом зрения. Это значит, что мы приглашаем и награждаем там режиссёров, нацеленных на создание зрительского кино »

    .b-council-single__member
      .member-info
        .name Леонид  Верещагин
        .role Продюсер, генеральный директор кинокомпании «Студия ТриТэ». Секретарь Союза кинематографистов России, член президиума Национальной академии кинематографических искусств и наук России. Лауреат Государственной премии России.
      .photo{ style: "background-image: url(#{asset_path('b-council/vereshyagin.jpg')})"}
      .note « Мероприятие выдающееся! Это правильный фестиваль, в правильном городе, в правильное время, с правильными людьми во главе. Здесь всё сделано с душой, талантом и любовью. Это один из самых молодых и успешных фестивалей в России. Я такого не видел давно! » »

    .b-council-single__member
      .member-info
        .name Фёдор  Бондарчук
        .role Актёр, режиссёр, кино- и телепродюсер, клипмейкер, телеведущий, телеакадемик. Основатель кинокомпании «Art Pictures Studio». Учредитель группы компаний «Главкино». Один из инициаторов проекта «Киносити».
      .photo{ style: "background-image: url(#{asset_path('b-council/bondarchuk.jpg')})"}
      .note « КОРОЧЕ — российский фестиваль короткометражного кино и самый короткий путь для молодых талантливых энтузиастов и профессионалов к ведущим продюсерским компаниям »

= render 'shared/footer'
