= render 'festival_stage'
= render 'pages/festival_stage_show_now'
= render 'pages/festival_stage_report'
= render 'past_year'
= render 'news'
= render 'about_festival'
= render 'council'
= render 'quote'
= render 'partners'
= render 'application/footer', css_class: 'secondary'

