.b-partners.stand-alone
  .headline
    %b Пратнеры фестиваля

  .b-partners__list
    = link_to '' do
      = image_tag 'b-partners/minkult.svg'
    = link_to '' do
      = image_tag 'b-partners/cinemapark.svg'
    = link_to '' do
      = image_tag 'b-partners/gazprom.svg'
    = link_to '' do
      = image_tag 'b-partners/npk.svg'
    = link_to '' do
      = image_tag 'b-partners/smart.svg'

  .info-partners-title Информационные партнёры
  .b-partners__list.info-partners
    = link_to '' do
      = image_tag 'b-partners/kinopoisk.svg'
    = link_to '' do
      = image_tag 'b-partners/tass.svg'
    = link_to '' do
      = image_tag 'b-partners/rus24.svg'
    = link_to '' do
      = image_tag 'b-partners/gazeta.svg'
    = link_to '' do
      = image_tag 'b-partners/hello.svg'

    = link_to '' do
      = image_tag 'b-partners/spletnik.svg'

    = link_to '' do
      = image_tag 'b-partners/kinoafisha.svg'

    = link_to '' do
      = image_tag 'b-partners/hollywood.svg'

    = link_to '' do
      = image_tag 'b-partners/amediateka.svg'

    = link_to '' do
      = image_tag 'b-partners/cinepromo.svg'

  .become-partner.g-button.bordered.small Стать партнером

= render 'application/footer'
