.b-send-work
  = simple_form_for :send_work, default: { required: true}, html: { class: 'form js-contacts-form' } do |f|
    .form__inner
      .title Форма заявки на участие  в фестивале
      .close.js-close
      = f.input :name, label: 'Название фильма'
      = f.input :name, label: 'Режисер'
      = f.input :name, as: :text, label: 'В ролях'
      .composite-input
        = f.input :name, label: 'Год производства'
        = f.input :name, label: 'Хронометраж'
      = f.input :name, label: 'Город'
      = f.input :description, as: :text, label: 'Описание'
      = f.input :name, label: 'Участие в других фестивалях', required: false
      .g-checkbox
        = f.input :premiere, as: :boolean, boolean_style: :inline, label: 'Премьера', wrapper: false
      = f.input :name, label: 'Ссылка для скачивания файла'
      .tip Выложите файл на любой удобный вам файлообменный сервис и укажите ссылку на него.
      = f.input :name, label: 'Дополнительная информация', required: false
      = f.input :name, label: 'Откуда вы узнали о нас', required: false
      = f.input :email, label: 'Электронная почта', input_html: { class: 'js-email' }
    .form__bottom
      = f.submit 'Отправить', class: 'submit g-button bordered small'
      .note-require.js-require-note Заполните все поля, отмеченные *
