.b-success-story.main
  .b-success-story__person{ style: "background-image: url(#{asset_path('b-success-story/artemiev.jpg')})"}
    .headline
      %b Роман Артемьев
    .role актер, режиссер, сценарист
    .description
      %p Родился 17 апреля 1980 года в городе Глазов (Удмуртия). В 2003 году окончил ВГИК (мастерская А.Баталова), играл в «Классном театре». Снялся в ряде сериалов: «Дети Арбата», «Апостол» и др. В прошлом году он представил на фестивали, снятую на собственные деньги, короткометражку «Тася» (2007).
      %p По итогам фестиваля «Короче» Роман Артемьев заключил контракт со студией Сергея Сельянова «СТВ» на производство полнометражного фильма «Человек будущего», в основу которого легла короткометражка «Спаситель». Проект был включен в список картин, получивших финансовую поддержку от Фонда кино.

    .awards-list
      .awards-item
        .icon
        .info Специальный приз жюри «За очевидные кинематографические достоинства» на XVI кинофестивале «КИНОШОК» за фильм «Тася» (2007)

      .awards-item
        .icon
        .info Диплом жюри продюсеров «За искреннюю попытку проникновения в человеческие отношения» за фильм «Тася» (2007)

      .awards-item
        .icon
        .info Приз «Лучшее исполнение мужской роли» на фестивале кино COONEKT за фильм 95-й скорый (короткометражный) (2006)

      .awards-item
        .icon
        .info Первый приз фестиваля «Святая Анна» за фильм «Любовь» (короткометражный) (2004)

    = render 'application/footer'


  .b-success-story__person{ style: "background-image: url(#{asset_path('b-success-story/suhanova.jpg')})"}
    .headline
      %b Галя Суханова
    .role режиссер, сценарист
    .description
      %p Родилась 17 ноября 1983 Г. В 2013 Окончила ВГИК им С.А. Герасимова.
      %p Победительница второго фестиваля «Короче», получила предложение от студии «Профит» Игоря Толстунова на съёмки сериала для Первого канала.
      %p Съёмки сериала проводились в течении всего 2016-ого года.

    .awards-list
      .awards-item
        .icon
        .info Главный приз 6-го фестиваля Арт-кино. Приз за лучший к/м фильм года по мнению профессионального сообщества, 7-ой Арт-Кино

      .awards-item
        .icon
        .info Лучший фильм в национальной программе made in Russia фестиваля Shnit

      .awards-item
        .icon
        .info Приз за лучшую режиссуру и лучший сценарий, La Guarimba FF (Италия)

      .awards-item
        .icon
        .info Пран-при фестифалей Mecal (Барселона) и KFF (Тайвань)

    = render 'application/footer'

  .b-success-story__person{ style: "background-image: url(#{asset_path('b-success-story/vasukova.jpg')})"}
    .headline
      %b Мария Васюкова
    .role режиссер, сценарист
    .description
      %p Первый фестиваль открылся короткометражным документальном фильмом «Woody Before Allen» калининградской дебютантки Маши Васюковой.
      %p О том как Вуди Аллен трепетно выбирал себе памятник в Калининграде. Настоящая фамилия Вуди Алена — Кенигсберг, как старое название Калининграда.
      %p Сегодня тот самый памятник можно увидеть на фестивальной площадке в кинотеатре «ЗАРЯ».
      %p Сейчас Маша Васюкова проживает в Париже и снимает свои мини-фильмы в Нью-Йорке. Недавно вышел ее фильм с участием Натали Портман, а затем еще один с Бредом Питтом.


    = render 'application/footer'
-#
