.b-sidebar-wrapper
  .mobile-trigger.js-mobile-menu-trigger.g-button.bordered.small.no-hover Меню

  .b-sidebar
    .b-sidebar__top
      = link_to root_path, class: 'logo' do
        = image_tag 'main_logo.svg', size: '95x67'
      .lang-switcher
        .lang-switcher__item.active Рус
        = link_to 'Eng', '#', class: 'lang-switcher__item'

    .b-festival-menu
      .title Фестиваль 2017
      .b-menu
        = link_to 'Анонс', '#', class: 'item'
        = sidebar_link_to 'Программа', festival_program_pages_path
        = sidebar_link_to 'Карта фестиваля', map_pages_path
        = sidebar_link_to 'Жюри', jury_pages_path
        = link_to 'Регламент', '#', class: 'item'
        = link_to 'Аккредитация прессы', '#', class: 'item'
        = link_to 'Купить билет', '#', class: 'item buy-ticket'

    .b-menu
      = sidebar_link_to 'Попечительский совет', council_pages_path
      = link_to 'Зрителям', '#', class: 'item'
      = link_to 'Партнеры', '#', class: 'item'
      = sidebar_link_to 'Истории успеха', success_story_pages_path

    .b-menu
      = sidebar_link_to 'Контакты', contacts_pages_path
      = link_to 'Архив', '#', class: 'item'


    .socials
      = link_to '#', class: 'item facebook' do
        = image_tag 'icons/facebook.svg'
      = link_to '#', class: 'item instagram' do
        = image_tag 'icons/instagram.svg'
      = link_to '#', class: 'item youtube' do
        = image_tag 'icons/youtube.svg'
